/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: StandardBody;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 9;
	border-top-left-radius: ;
	border-top-right-radius: ;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Regular;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	id: 8;
	name: DarkShade;
	type: Manual;
	background-color: #8798b3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	background-color: #bed230;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Row1;
	id: 1;
	background-color: #edf0f1;
}

mcTableBodyStyle
{
	span: 1;
	id: 9;
	name: Row2;
	background-color: #dcdcdc;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}


/* Cell Styles: */
 
.TableStyle-StandardBody
{
	border-collapse: separate;
	overflow: hidden;
	border-top-left-radius: ;
	border-top-right-radius: ;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-StandardBody-Column-Regular
{
	
}

.TableStyle-StandardBody-Column-DarkShade
{
	
}

.TableStyle-StandardBody-Head-Header1
{
	
}

.TableStyle-StandardBody-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadI-Regular-Header1 p
{
	
}

.TableStyle-StandardBody-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardBody-HeadE-Regular-Header1 p
{
	
}

.TableStyle-StandardBody-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardBody-HeadF-Regular-Header1 p
{
	
}

.TableStyle-StandardBody-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadH-Regular-Header1 p
{
	
}

.TableStyle-StandardBody-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardBody-HeadD-Regular-Header1 p
{
	
}

.TableStyle-StandardBody-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadC-Regular-Header1 p
{
	
}

.TableStyle-StandardBody-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadB-Regular-Header1 p
{
	
}

.TableStyle-StandardBody-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadA-Regular-Header1 p
{
	
}

.TableStyle-StandardBody-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadG-Regular-Header1 p
{
	
}

.TableStyle-StandardBody-HeadI-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadI-DarkShade-Header1 p
{
	
}

.TableStyle-StandardBody-HeadE-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardBody-HeadE-DarkShade-Header1 p
{
	
}

.TableStyle-StandardBody-HeadF-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardBody-HeadF-DarkShade-Header1 p
{
	
}

.TableStyle-StandardBody-HeadH-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadH-DarkShade-Header1 p
{
	
}

.TableStyle-StandardBody-HeadD-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardBody-HeadD-DarkShade-Header1 p
{
	
}

.TableStyle-StandardBody-HeadC-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadC-DarkShade-Header1 p
{
	
}

.TableStyle-StandardBody-HeadB-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadB-DarkShade-Header1 p
{
	
}

.TableStyle-StandardBody-HeadA-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadA-DarkShade-Header1 p
{
	
}

.TableStyle-StandardBody-HeadG-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardBody-HeadG-DarkShade-Header1 p
{
	
}

.TableStyle-StandardBody-Foot-Footer1
{
	
}

.TableStyle-StandardBody-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-StandardBody-FootI-Regular-Footer1 p
{
	
}

.TableStyle-StandardBody-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardBody-FootE-Regular-Footer1 p
{
	
}

.TableStyle-StandardBody-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardBody-FootF-Regular-Footer1 p
{
	
}

.TableStyle-StandardBody-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-FootH-Regular-Footer1 p
{
	
}

.TableStyle-StandardBody-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardBody-FootD-Regular-Footer1 p
{
	
}

.TableStyle-StandardBody-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-StandardBody-FootC-Regular-Footer1 p
{
	
}

.TableStyle-StandardBody-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-FootB-Regular-Footer1 p
{
	
}

.TableStyle-StandardBody-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-StandardBody-FootA-Regular-Footer1 p
{
	
}

.TableStyle-StandardBody-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-StandardBody-FootG-Regular-Footer1 p
{
	
}

.TableStyle-StandardBody-FootI-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-FootI-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardBody-FootE-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardBody-FootE-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardBody-FootF-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardBody-FootF-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardBody-FootH-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-FootH-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardBody-FootD-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardBody-FootD-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardBody-FootC-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-FootC-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardBody-FootB-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-FootB-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardBody-FootA-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-FootA-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardBody-FootG-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-FootG-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardBody-Body-Row1
{
	
}

.TableStyle-StandardBody-BodyI-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-StandardBody-BodyI-Regular-Row1 p
{
	
}

.TableStyle-StandardBody-BodyE-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyE-Regular-Row1 p
{
	
}

.TableStyle-StandardBody-BodyF-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardBody-BodyF-Regular-Row1 p
{
	
}

.TableStyle-StandardBody-BodyH-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyH-Regular-Row1 p
{
	
}

.TableStyle-StandardBody-BodyD-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardBody-BodyD-Regular-Row1 p
{
	
}

.TableStyle-StandardBody-BodyC-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-StandardBody-BodyC-Regular-Row1 p
{
	
}

.TableStyle-StandardBody-BodyB-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyB-Regular-Row1 p
{
	
}

.TableStyle-StandardBody-BodyA-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-StandardBody-BodyA-Regular-Row1 p
{
	
}

.TableStyle-StandardBody-BodyG-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-StandardBody-BodyG-Regular-Row1 p
{
	
}

.TableStyle-StandardBody-BodyI-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyI-DarkShade-Row1 p
{
	
}

.TableStyle-StandardBody-BodyE-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyE-DarkShade-Row1 p
{
	
}

.TableStyle-StandardBody-BodyF-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyF-DarkShade-Row1 p
{
	
}

.TableStyle-StandardBody-BodyH-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyH-DarkShade-Row1 p
{
	
}

.TableStyle-StandardBody-BodyD-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyD-DarkShade-Row1 p
{
	
}

.TableStyle-StandardBody-BodyC-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyC-DarkShade-Row1 p
{
	
}

.TableStyle-StandardBody-BodyB-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyB-DarkShade-Row1 p
{
	
}

.TableStyle-StandardBody-BodyA-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyA-DarkShade-Row1 p
{
	
}

.TableStyle-StandardBody-BodyG-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyG-DarkShade-Row1 p
{
	
}

.TableStyle-StandardBody-Body-Row2
{
	
}

.TableStyle-StandardBody-BodyI-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardBody-BodyI-Regular-Row2 p
{
	
}

.TableStyle-StandardBody-BodyE-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyE-Regular-Row2 p
{
	
}

.TableStyle-StandardBody-BodyF-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardBody-BodyF-Regular-Row2 p
{
	
}

.TableStyle-StandardBody-BodyH-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyH-Regular-Row2 p
{
	
}

.TableStyle-StandardBody-BodyD-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardBody-BodyD-Regular-Row2 p
{
	
}

.TableStyle-StandardBody-BodyC-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardBody-BodyC-Regular-Row2 p
{
	
}

.TableStyle-StandardBody-BodyB-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyB-Regular-Row2 p
{
	
}

.TableStyle-StandardBody-BodyA-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardBody-BodyA-Regular-Row2 p
{
	
}

.TableStyle-StandardBody-BodyG-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardBody-BodyG-Regular-Row2 p
{
	
}

.TableStyle-StandardBody-BodyI-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyI-DarkShade-Row2 p
{
	
}

.TableStyle-StandardBody-BodyE-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyE-DarkShade-Row2 p
{
	
}

.TableStyle-StandardBody-BodyF-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyF-DarkShade-Row2 p
{
	
}

.TableStyle-StandardBody-BodyH-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyH-DarkShade-Row2 p
{
	
}

.TableStyle-StandardBody-BodyD-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyD-DarkShade-Row2 p
{
	
}

.TableStyle-StandardBody-BodyC-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyC-DarkShade-Row2 p
{
	
}

.TableStyle-StandardBody-BodyB-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardBody-BodyB-DarkShade-Row2 p
{
	
}

.TableStyle-StandardBody-BodyA-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyA-DarkShade-Row2 p
{
	
}

.TableStyle-StandardBody-BodyG-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardBody-BodyG-DarkShade-Row2 p
{
	
}


