/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: separate;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: StandardHeader;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: ;
	border-bottom-left-radius: ;
	overflow: hidden;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Regular;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	id: 8;
	name: DarkShade;
	type: Manual;
	background-color: #8798b3;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	background-color: #bed230;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #ffffff;
	name: Row1;
	id: 1;
	background-color: #edf0f1;
}

mcTableBodyStyle
{
	span: 1;
	id: 9;
	name: Row2;
	background-color: #dcdcdc;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #ffffff;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}


/* Cell Styles: */
 
.TableStyle-StandardHeader
{
	border-collapse: separate;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: ;
	border-bottom-left-radius: ;
	border-spacing: 0px 0px;
}

.TableStyle-StandardHeader-Column-Regular
{
	
}

.TableStyle-StandardHeader-Column-DarkShade
{
	
}

.TableStyle-StandardHeader-Head-Header1
{
	
}

.TableStyle-StandardHeader-HeadI-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadI-Regular-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadE-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardHeader-HeadE-Regular-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadF-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardHeader-HeadF-Regular-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadH-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadH-Regular-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadD-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardHeader-HeadD-Regular-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadC-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadC-Regular-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadB-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadB-Regular-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadA-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadA-Regular-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadG-Regular-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadG-Regular-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadI-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadI-DarkShade-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadE-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardHeader-HeadE-DarkShade-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadF-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardHeader-HeadF-DarkShade-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadH-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadH-DarkShade-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadD-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardHeader-HeadD-DarkShade-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadC-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadC-DarkShade-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadB-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadB-DarkShade-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadA-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadA-DarkShade-Header1 p
{
	
}

.TableStyle-StandardHeader-HeadG-DarkShade-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bed230;
}

.TableStyle-StandardHeader-HeadG-DarkShade-Header1 p
{
	
}

.TableStyle-StandardHeader-Foot-Footer1
{
	
}

.TableStyle-StandardHeader-FootI-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-StandardHeader-FootI-Regular-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootE-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardHeader-FootE-Regular-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootF-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardHeader-FootF-Regular-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootH-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-FootH-Regular-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootD-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardHeader-FootD-Regular-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootC-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-StandardHeader-FootC-Regular-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootB-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-FootB-Regular-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootA-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-StandardHeader-FootA-Regular-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootG-Regular-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-StandardHeader-FootG-Regular-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootI-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-FootI-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootE-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardHeader-FootE-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootF-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardHeader-FootF-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootH-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-FootH-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootD-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-top-width: 1px;
	border-top-color: #ffffff;
	border-top-style: solid;
}

.TableStyle-StandardHeader-FootD-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootC-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-FootC-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootB-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-FootB-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootA-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-FootA-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardHeader-FootG-DarkShade-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-FootG-DarkShade-Footer1 p
{
	
}

.TableStyle-StandardHeader-Body-Row1
{
	
}

.TableStyle-StandardHeader-BodyI-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-StandardHeader-BodyI-Regular-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyE-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyE-Regular-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyF-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardHeader-BodyF-Regular-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyH-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyH-Regular-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyD-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-StandardHeader-BodyD-Regular-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyC-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-StandardHeader-BodyC-Regular-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyB-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyB-Regular-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyA-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-StandardHeader-BodyA-Regular-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyG-Regular-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #edf0f1;
}

.TableStyle-StandardHeader-BodyG-Regular-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyI-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyI-DarkShade-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyE-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyE-DarkShade-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyF-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyF-DarkShade-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyH-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyH-DarkShade-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyD-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyD-DarkShade-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyC-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyC-DarkShade-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyB-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyB-DarkShade-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyA-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyA-DarkShade-Row1 p
{
	
}

.TableStyle-StandardHeader-BodyG-DarkShade-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyG-DarkShade-Row1 p
{
	
}

.TableStyle-StandardHeader-Body-Row2
{
	
}

.TableStyle-StandardHeader-BodyI-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardHeader-BodyI-Regular-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyE-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyE-Regular-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyF-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardHeader-BodyF-Regular-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyH-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyH-Regular-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyD-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardHeader-BodyD-Regular-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyC-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardHeader-BodyC-Regular-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyB-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyB-Regular-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyA-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardHeader-BodyA-Regular-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyG-Regular-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #dcdcdc;
}

.TableStyle-StandardHeader-BodyG-Regular-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyI-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyI-DarkShade-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyE-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyE-DarkShade-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyF-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyF-DarkShade-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyH-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyH-DarkShade-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyD-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyD-DarkShade-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyC-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyC-DarkShade-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyB-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
	border-right-width: 1px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-StandardHeader-BodyB-DarkShade-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyA-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyA-DarkShade-Row2 p
{
	
}

.TableStyle-StandardHeader-BodyG-DarkShade-Row2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #8798b3;
}

.TableStyle-StandardHeader-BodyG-DarkShade-Row2 p
{
	
}


